{% extends "base.html" %}
{% load static %}
{% block 'conteudo' %}
<h1>EXPLORE E BUSQUE POR CAMPANHAS</h1>
<div>
  <form method="post"> {% csrf_token %}
    <input  id="pesquisa" type="text" placeholder="PESQUISAR" class="pergunta" name="pesquisar_campanha" value="{{pesquisa}}">
    <input class="botao" type="submit" value="PESQUISAR">
    <br><label>Pesquise por nome da campanha, nome do usuário ou usarname</label><br/>

  </form>
</div>

<div class="container text-center lista_personagens">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
      {% for c in campanhas %}      
      <div class="col">
        <div class="card" style="width: 18rem;">
              <img src="{{c.imagem_de_capa.url}}" class="card-img-top" alt="...">
              <div class="card-body ">
                  <h5 class="card-title">{{c.nome_campanha}}</h5>
          
                    <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-title="Popover title" data-bs-content="{{c.descricao}}">Descrição</button>
      
                  <p class="card-text">{{c.mestre}}</p>
                  <a href="{% url 'participar_campanha' c.id %}" class="btn btn-primary">Participar da campanha</a> 
              </div>
          </div>
      </div>
      {% endfor%}
    </div>
  </div>

{% endblock %}