{% extends "base.html" %}
{% load static %}
{% block 'conteudo' %}

    <h2>Área Restrita</h2>
    <main class="perfil">
        <div>
            {% if user.avatar %}
                <div class="bordinha"><img src="{{ user.avatar.url }}" alt="Avatar"></div>
               
            {% else %}
                <p>Sem avatar.</p>
            {% endif %}
            <p>Bem-vindo, {{ user.username }}!</p>
            <p>Nascido em: {{ user.data_nascimento }}</p>
            <p>Email: {{ user.email }}</p>
        <a style="display: flex; justify-content: center;" class="botao" href="{% url 'editar_perfil' user.id%}">EDITAR</a>
        <br><br>
        <a href="{% url 'solicitacoes' %}"  type="button" class="btn btn-primary position-relative" {%if quantidade_solicitacoes == 0 %}style="display: none;"{% endif %}>
            Solicitações
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{quantidade_solicitacoes}}
                <span class="visually-hidden">solicitações não lidas</span>
            </span>
        </a>
        </div>
        <div class="coluna">
            <div>
                <textarea style="overflow:hidden;" class="descricao_usuario"  name="cunserva" id="corovenha" cols="80" rows="10" readonly disabled>{{ user.bio }}</textarea>
            </div>
            <div class="ascoisadele card_campanhas_personagens">
                <div>
                    <h2>MINHAS CAMPANHAS</h2>
                    {% for c in campanhas %}      
                        <h2><a href="{% url 'detalhes_campanha' c.id %}">{{c.nome_campanha}}</a></h2>
                    {% endfor%}
                    <a href="{% url 'cadastrar_campanha' %}"><i class="bi bi-plus-circle mais" ></i></a>
                </div>
                <div>
                    <h2>MEUS PERSONAGENS</h2>
                    {% for p in personagens %}      
                        <h2><a href="{% url 'detalhes_personagem' p.id %}">{{p.nome_personagem}}</a></h2>
                    {% endfor %}
                    <a href="{% url 'cadastrar_personagem' %}"><i class="bi bi-plus-circle mais" ></i></a>
                    
                </div>
            </div>
        </div>
    </main>
    

    

   
{% endblock %}