{% extends 'base.html' %}
{% block 'title' %}Confirmar Exclusão{% endblock %}
{% block 'conteudo' %}
<h2>Deseja realmente participar da campanha {{campanha.nome_campanha}}?</h2>
<p>O Mestre será notificado que você deseja participar e ele fará ou não aprovação</p>
<form method="POST" class="formulario">
  {% csrf_token %}
  <label>Deixe uma mensagem carinhosa para convencer o Mestre</label></br>
  <label>Qual personagem você vai utilizar?</label>
  <select name="personagem_selecionado" id="personagem_selecionado">
    {% for personagem in personagens %}
      <option class="" id="personagem-{{personagem.id}}" value="{{personagem.id}}">{{personagem.nome_personagem}}</option>
      {% empty %}
      <option>Nenhum personagem foi cadastro ainda</option>      
    {% endfor%}
  </select>
  <textarea class="pergunta" id="mensagem" name="mensagem" rows="4" cols="50"></textarea>
  <button type="submit" class="botao">Sim, desejo partcipar</button>
  <a href="{% url 'explorar_campanhas' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}